@import url('http://fonts.googleapis.com/css?family=Playfair+Display: 400,700,900');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$header-font: 'Playfair Display', serif;
$body-font: 'Open Sans', Arial, sans-serif;

$navy: #334D70;
$sky: rgba(123,198,220,.8);
$blush: rgba(237,186,191,.8);
$mint: rgba(173,212,162,.8);


/*----GENERAL SETTINGS----*/
body {
	background-color: $sky;
	color: $navy;
	font-size: 13px;
	font-family: $body-font;
	-webkit-transition: all 4s ease;
	transition: all 4s ease;

	&.sky,
	&.sky .baby-header {
		background-color: $sky;
	}

	&.blush,
	&.blush .baby-header {
		background-color: $blush;
	}

	&.mint,
	&.mint .baby-header {
		background-color: $mint;
	}
}

a {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	text-decoration: none;
	color: $navy;
}

a:hover {
	text-shadow: 0px 0px 2px $navy;
}

p,
ul li,
ol li  {
	line-height: 22px;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	font-family: $header-font;
	font-weight: 400;
}

h2 {
	margin: 25px 0 10px 0;
	border-bottom: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: $header-font;
	font-weight: 900;
}

h3 {
	margin: 25px 0 0 0;
	color: $navy;
	font-size: 1.3em;
	font-family: $body-font;
	font-weight: 400;
}

h4 {
	margin: 0px 0 10px 0;
	color: $navy;
	font-size: 1em;
	font-family: $body-font;
	font-weight: 400;
}

h5 {
	color: #fff;
	font-size: 0.9em;
	font-family: $header-font;
	font-weight: 900;
}

h6 {
	color: #fff;
	font-size: 0.8em;
	font-family: $body-font;
	font-weight: 400;
}

.center {
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 1070px;
}


/*----STICKY HEADER----*/
// Header, general styles
.menu {
	position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
	overflow: hidden;

  h1 {
		margin: 0 auto;
		padding: 100px 0 30px;
		text-align: center;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
  }

	h1.title a {
		border: 3px solid #fff;
		padding: 0 10px 3px 15px;
		color: #fff;
		font-weight: 900;

		&:hover {
			color: #fff;
			text-shadow: none;
		}

		&:visited:link,
		&:hover,
		&:link,
		&:active,
		&:focus {
			color: #fff;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	ul li {
		display: inline-block;
		padding: 0 15px;
		font-size: 1.3em;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}


// Header when sticky
.baby-header {
	display: none;
  height: 67px;
  background-color: $sky;
	-webkit-transition: background-color 3s ease;
	transition: background-color 3s ease;

  .menu-wrapper {
    margin: 0 auto;
		width: 444px;
		position: relative;
  }

  h1 {
  	float: left;
  	padding: 15px 0;
  	font-size: 1.8em;
  	text-align: left;
  }

  ul {
  	float: left;
  	position: relative;
  	margin: 0;
  	height: 22px;
  	padding: 22px 0 22px 15px;

  	li {
  		float: left;
  		font-size: 1.2em;
  	}
  }
}

// Content below header
.about {
	padding: 265px 250px 50px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

// Content below header when sticky
.small-header.about {
	padding-top: 200px;
}


/*----HOME PAGE STYLES----*/
h4.about-title {
	margin-bottom: 50px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

h3 a {
	@extend h3;
	font-size: .9em;

	&:hover {
		text-shadow: 0px 0px 2px $navy;
	}
}

p.date {
	margin: 0;
	font-size: .9em;
}

.education {
	position: relative;
}


/*----FOOTER----*/
.contact {
	position: relative;
	padding: 0 0 50px 0;

	ul {
		margin: 0 auto;
		width: 182px;
		padding: 0;
	}

	ul li {
		display: inline-block;
		margin: 0 5px 0 5px;
		color: #569071;
	}

	img {
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	img:hover {
		-webkit-filter: brightness(90%);
		filter: brightness(90%);
	}

	.email {
		margin: 15px auto;
		width: 186px;
		text-align: center;
	}
}
