/******************************************************************
Site Name: Alison McKay, Front End Developer
Author: Alison McKay

Stylesheet: Desktop Stylsheet
******************************************************************/

.wrap {
  width: 1040px;
}
