/******************************************************************
Site Name: Alison McKay, Front End Developer
Author: Alison McKay

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}


/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.widgettitle {
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 30px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}

