/*----GENERAL SETTINGS----*/
/* line 2, ../scss/contact.scss */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ddc985;
  color: #36303a;
}

/* line 7, ../scss/contact.scss */
a {
  text-decoration: none;
  transition: all 1s ease;
  color: #569071;
}

/* line 12, ../scss/contact.scss */
a:hover {
  text-shadow: 1px 1px 5px #569071;
}

/* line 15, ../scss/contact.scss */
p {
  line-height: 22px;
  font-size: .9em;
}

/* line 19, ../scss/contact.scss */
h1 {
  font-family: 'Arvo', serif;
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 12px;
}

@media all and (max-width: 680px) {
  /* line 28, ../scss/contact.scss */
  h1 {
    letter-spacing: 10px;
  }
}
@media all and (max-width: 530px) {
  /* line 33, ../scss/contact.scss */
  h1 {
    letter-spacing: 4px;
    font-size: 2.5em;
  }
}
@media all and (max-width: 460px) {
  /* line 39, ../scss/contact.scss */
  h1 {
    letter-spacing: 3px;
  }
}
/* line 43, ../scss/contact.scss */
h2 {
  font-family: 'Arvo', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 12px;
  color: #36303a;
  margin: 25px 0 10px 0;
}

/* line 52, ../scss/contact.scss */
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  color: #36303a;
  margin: 15px 0 5px 0;
}

/* line 58, ../scss/contact.scss */
h4 {
  font-family: 'Arvo', serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #569071;
  margin: 15px 0 5px 0;
}

/* line 66, ../scss/contact.scss */
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  color: #fff;
}

/* line 71, ../scss/contact.scss */
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  color: #fff;
}

/* line 76, ../scss/contact.scss */
.center {
  text-align: center;
}

/* line 79, ../scss/contact.scss */
.container {
  max-width: 1070px;
  margin: 0 auto;
}

/*----NAVIGATION----*/
/* line 85, ../scss/contact.scss */
.main-nav ul {
  margin: 0 auto;
  width: 490px;
  padding: 0;
}
/* line 90, ../scss/contact.scss */
.main-nav ul li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 97, ../scss/contact.scss */
.main-nav ul li.first {
  padding: 0 95px 0 35px;
}
/* line 100, ../scss/contact.scss */
.main-nav ul li.middle {
  padding: 0;
}
/* line 103, ../scss/contact.scss */
.main-nav ul li.last {
  padding: 0 0 0 95px;
}
@media all and (max-width: 700px) {
  /* line 107, ../scss/contact.scss */
  .main-nav ul {
    width: 400px;
  }
  /* line 110, ../scss/contact.scss */
  .main-nav ul li.first {
    padding: 0 55px 0 25px;
  }
  /* line 113, ../scss/contact.scss */
  .main-nav ul li.middle {
    padding: 0;
  }
  /* line 116, ../scss/contact.scss */
  .main-nav ul li.last {
    padding: 0 0 0 55px;
  }
}
@media all and (max-width: 480px) {
  /* line 121, ../scss/contact.scss */
  .main-nav ul {
    width: 380px;
  }
  /* line 124, ../scss/contact.scss */
  .main-nav ul li.first {
    padding: 0 35px 0 25px;
  }
  /* line 127, ../scss/contact.scss */
  .main-nav ul li.middle {
    padding: 0;
  }
  /* line 130, ../scss/contact.scss */
  .main-nav ul li.last {
    padding: 0 0 0 35px;
  }
}
@media all and (max-width: 380px) {
  /* line 135, ../scss/contact.scss */
  .main-nav ul {
    width: auto;
    text-align: center;
  }
  /* line 139, ../scss/contact.scss */
  .main-nav ul li {
    display: block;
  }
  /* line 142, ../scss/contact.scss */
  .main-nav ul li.first {
    padding: 0;
  }
  /* line 145, ../scss/contact.scss */
  .main-nav ul li.last {
    padding: 0;
  }
}

/*----SOCIAL MEDIA----*/
/* line 152, ../scss/contact.scss */
.contact ul {
  margin: 0 auto;
  width: 228px;
  padding: 0;
}
/* line 157, ../scss/contact.scss */
.contact ul li {
  display: inline-block;
  margin: 0 5px 0 5px;
}
/* line 161, ../scss/contact.scss */
.contact img {
  transition: all 1s ease;
}
/* line 164, ../scss/contact.scss */
.contact img:hover {
  -webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
}
