/*----STICKY HEADER----*/
// Header, general styles
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;

  ul {
		margin:0;
		padding:0;
		text-align:center;
    -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	}

	ul li {
		display:inline-block;
		padding:0 15px;
		font-size: 1.3em;
		font-family: $sans-serif;
		text-transform:lowercase;
		font-weight: 400;
    -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	}
}

// Header when sticky
.baby-header {
  display: none;
  height: 67px;
  background-color: $sky;
  -webkit-transition: background-color 3s ease;
  transition: background-color 3s ease;


  .menu-wrapper {
		margin:0 auto;
		position: relative;
		width: 444px;
  }

  h1 {
  	float:left;
  	padding:15px 0;
  	font-size:1.8em;
  	text-align:left;
  }

  .main-nav {
  	float:left;
  }

  ul {
  	position:relative;
  	margin:0;
  	padding:22px 0 22px 15px;
  	height:22px;

    li {
  		float: left;
  		font-size:1.2em;
  	}
  }
}


// Content below header
#inner-content {
	padding-top: 265px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


// Content below header when sticky
.small-header#inner-content {
	padding-top:200px;
}


// Project overview page styles
.project-overview {
	h2.page-title {
		margin-right:15px;
	}

	a:hover {
		text-shadow:none;
	}

	ul {
		li {
			padding-bottom: 15px;

      a {
				display: block;
				position:relative;
				overflow: hidden;
				height: 186px;
				background-size: cover;
				background-position: center center;
				border:3px solid #fff;
			  -webkit-transition: all 0.2s ease;
			  transition: all 0.2s ease;

				h3 {
					position:absolute;
					bottom:0;
				  left: -100%;
					margin:0;
					width:100%;
					background-color: #fff;
					color:$gray;
					font-family:$header-serif;
				  -webkit-transition: all 0.5s ease;
				  transition: all 0.5s ease;
          font-weight: 600;
          font-size: 16px;
				}

				&:hover,
        &:focus {
					border:6px solid #fff;

          h3 {
						left: 0;
					}
				}
			}
		}
	}
}


// Project detail page styles
.project-detail {
	margin:0 auto;
	max-width:670px;

  h2 {
		margin-bottom:25px;
	}

	h5 a {
    display: inline-block;
		float:left;
		border:3px solid #fff;
	  background: transparent;
	  box-shadow: inset 0 0 0 0 #fff;
		padding:8px 10px;
	  color: #fff;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size:16px;
	  text-align: center;
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;

		&:hover,
    &:active,
    &:focus {
		  box-shadow: inset 250px 0 0 0 #fff;
			text-shadow:none;
			color:$gray;
		}
	}

	h5:first-child a {
		margin-right:15px;
	}

	.footer-cta {
		margin:0 auto;
		max-width:318px;
	}
}


/*----FOOTER----*/
.contact {
	position:relative;
	padding:40px 0 50px 0;

  ul {
		margin: 0 auto;
		width: 182px;
		padding: 0;
	}

	ul li {
		display:inline-block;
		margin:0 5px 0 5px;
		color: #569071;
	}

	img {
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
	}

	img:hover,
  img:focus {
		-webkit-filter: brightness(90%);
		filter: brightness(90%);
	}

	.email {
		margin:15px auto;
		width:186px;
		text-align: center;
	}
}
