/******************************************************************
Site Name: Alison McKay's Portfolio
Author: Alison McKay

Stylesheet: Desktop Stylsheet
******************************************************************/

.wrap {
  width: 1040px;
}