.donut {
    width: 150px;
    height: 150px;
    margin:10% auto 0;
    /*background: url(/graphics/donut-icon.png) no-repeat;*/
    position: relative;
    top:15%;
}
@media all and (max-width: 650px) {
    .donut {
      margin-top:7%;
    }
    .container {
      margin:0 5%;
    }
}
.donut img {
    width: 150px;
    height: 150px; 
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.donut img {
    -webkit-animation-name: cf4FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 21s;
    -webkit-animation-delay: 0s; 
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 21s;
    animation-delay: 0s; 
}
@-webkit-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.donut img:nth-of-type(1) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
.donut img:nth-of-type(2) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.donut img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.donut img:nth-of-type(4) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.donut img:nth-of-type(5) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.donut img:nth-of-type(6) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.donut img:nth-of-type(7) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.donut img:nth-of-type(8) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}


