/*donut rotate on hover*/
.donut {
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -ms-transition: -webkit-transform 1s ease-in-out;
    transition:transform 1s ease-in-out; 
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.donut:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}


/*donut image fade*/
.donut .sprite {
    -webkit-animation-name: donut-fade;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 19s;
    -webkit-animation-delay: 0s; 
    animation-name: donut-fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 19s;
    animation-delay: 0s; 
    position:absolute;
}
@-webkit-keyframes donut-fade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@-moz-keyframes donut-fade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@-o-keyframes donut-fade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
@keyframes donut-fade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
.donut .sprite-8 {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
.donut .sprite-7 {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.donut .sprite-6 {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.donut .sprite-5 {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.donut .sprite-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.donut .sprite-3 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.donut .sprite-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.donut .sprite-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}