/* line 1, ../scss/style.scss */
body {
  background-color: #e9d987;
  -webkit-text-stroke: 0.25px;
}

/* line 7, ../scss/style.scss */
.container {
  min-height: 300px;
}

/* line 10, ../scss/style.scss */
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #639979;
  padding: 25px 0 0;
  font-size: 1.7em;
}

/* line 20, ../scss/style.scss */
#counter {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #639979;
}

/* line 29, ../scss/style.scss */
.plate-wrapper {
  width: 266px;
  height: 266px;
  background: url(/graphics/pink-bg.png) repeat white;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #000;
  margin: 0 auto;
}

/* line 38, ../scss/style.scss */
.plate {
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 8px;
}
