@import url("http://fonts.googleapis.com/css?family=Playfair+Display: 400,700,900");
@import url("http://fonts.googleapis.com/css?family=Arvo: 400,700");
@keyframes hover-over {
  0% {
    padding: 10px;
    left: 0px;
    top: 0px;
    opacity: 0.7; }
  50% {
    padding: 16px;
    left: -6px;
    top: -6px;
    opacity: 1; }
  100% {
    padding: 13px;
    left: -3px;
    top: -3px;
    opacity: 1; } }
@-webkit-keyframes hover-over {
  0% {
    padding: 10px 0;
    top: 0px;
    opacity: 0.7; }
  50% {
    padding: 20px 0;
    top: -6px;
    opacity: 1; }
  100% {
    padding: 13px 0;
    top: -3px;
    opacity: 1; } }
@keyframes hover-out {
  0% {
    padding: 13px;
    left: -3px;
    top: -3px;
    opacity: 1; }
  50% {
    padding: 16px;
    left: -6px;
    top: -6px;
    opacity: 1; }
  100% {
    padding: 10px;
    left: 0px;
    top: 0px;
    opacity: 0.7; } }
@-webkit-keyframes hover-out {
  0% {
    padding: 13px 0;
    top: -3px;
    opacity: 1; }
  50% {
    padding: 20px 0;
    top: -6px;
    opacity: 1; }
  100% {
    padding: 10px 0;
    top: 0px;
    opacity: 0.7; } }
/*----GENERAL SETTINGS----*/
body {
  background-color: #ccc;
  color: #334D70;
  font-family: 'Arvo', serif; }

a {
  -webkit-transition: text-shadow 0.6s ease;
  -moz-transition: text-shadow 0.6s ease;
  -o-transition: text-shadow 0.6s ease;
  transition: text-shadow 0.6s ease;
  text-decoration: none;
  color: #D88D80; }

a:hover {
  text-shadow: 0px 0px 2px #D88D80; }

p,
ul li,
ol li {
  line-height: 22px;
  font-size: .9em; }

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  font-weight: 400; }

h2 {
  margin: 25px 0 10px 0;
  border-bottom: 3px solid #888;
  color: #888;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 900; }

h3, h3 a {
  margin: 25px 0 0 0;
  color: #7D8C5A;
  font-size: 1.3em;
  font-family: 'Arvo', serif;
  font-weight: 400; }

h4 {
  margin: 0px 0 10px 0;
  color: #7D8C5A;
  font-size: 1em;
  font-family: 'Arvo', serif;
  font-weight: 400; }

h5 {
  color: #888;
  font-size: 0.9em;
  font-family: 'Playfair Display', serif;
  font-weight: 900; }

h6 {
  color: #fff;
  font-size: 0.8em;
  font-family: 'Arvo', serif;
  font-weight: 400; }

.center {
  text-align: center; }

.container {
  margin: 0 auto;
  max-width: 1070px; }

/*----STICKY HEADER----*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  header h1 {
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
    -webkit-transition: left 0.4s ease, top 0.8s ease, font-size 0.6s ease;
    -moz-transition: left 0.4s ease, top 0.8s ease, font-size 0.6s ease;
    -o-transition: left 0.4s ease, top 0.8s ease, font-size 0.6s ease;
    transition: left 0.4s ease, top 0.8s ease, font-size 0.6s ease; }
  header h1.title a {
    border: 3px solid #fff;
    padding: 0 10px 3px 15px;
    color: #fff;
    font-weight: 900; }
    header h1.title a:hover {
      color: #fff;
      text-shadow: none; }
    header h1.title a:visited:link, header h1.title a:hover, header h1.title a:link, header h1.title a:active, header h1.title a:focus {
      color: #fff; }
  header ul {
    margin: 0;
    padding: 0;
    position: relative;
    top: 130px;
    text-align: center;
    -webkit-transition: right 0.4s ease, top 0.8s ease;
    -moz-transition: right 0.4s ease, top 0.8s ease;
    -o-transition: right 0.4s ease, top 0.8s ease;
    transition: right 0.4s ease, top 0.8s ease; }
  header ul li {
    display: inline-block;
    padding: 0 15px;
    text-transform: lowercase;
    font-size: 1.5em;
    font-family: 'Arvo', serif;
    font-weight: 400;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.smaller {
  height: 75px;
  background-color: rgba(204, 204, 204, 0.8); }
  .smaller .menu-wrapper {
    margin: 0 auto;
    width: 620px;
    position: relative; }
  .smaller h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    font-size: 1.8em;
    text-align: left; }
  .smaller ul {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding: 25px 0 25px 15px; }
    .smaller ul li {
      font-size: 1.2em; }

.about {
  padding: 265px 250px 30px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.small-header.about {
  padding-top: 200px; }

/*----HOME PAGE STYLES----*/
h4.about-title {
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Arvo', serif;
  font-weight: 400; }

h3 a {
  font-size: 1em; }
  h3 a:hover {
    text-shadow: 0px 0px 2px #7D8C5A; }

p.date {
  margin: 0;
  font-size: .8em; }

.education {
  position: relative; }

/*----FOOTER----*/
.contact {
  position: relative;
  padding: 0 0 50px 0; }
  .contact ul {
    margin: 0 auto;
    width: 182px;
    padding: 0; }
  .contact ul li {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #569071; }
  .contact img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .contact img:hover {
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%);
    filter: brightness(120%); }
  .contact .email {
    margin: 25px auto;
    width: 186px;
    text-align: center; }

@media all and (max-width: 1080px) {
  .about {
    padding-left: 200px;
    padding-right: 200px; } }
@media all and (max-width: 880px) {
  .about {
    padding-left: 15%;
    padding-right: 15%; } }
@media all and (max-width: 650px) {
  header.smaller .menu-wrapper {
    width: 100%;
    max-width: 542px; }
  header.smaller h1 {
    font-size: 1.5em; }
  header.smaller ul li {
    font-size: 1em;
    height: 1em; } }
@media all and (max-width: 600px) {
  body {
    font-size: 14px; }

  h1 {
    font-size: 38px; }

  h1.title {
    padding-top: 20%; }

  header.smaller .menu-wrapper {
    max-width: 500px; }
  header.smaller h1 {
    font-size: 1.2em;
    margin-top: 7px; }
  header.smaller ul li {
    font-size: .9em;
    height: .9em; } }
@media all and (max-width: 550px) {
  header.smaller {
    background-color: rgba(153, 153, 153, 0.9);
    padding: 0 0 10px;
    height: 85px; }
    header.smaller h1 {
      float: none;
      text-align: center; }
    header.smaller .main-nav {
      float: none; }
    header.smaller ul {
      padding: 0; }
      header.smaller ul li {
        float: none; }
        header.smaller ul li a {
          color: #fff; }

  .about {
    padding-top: 250px; } }
@media all and (max-width: 450px) {
  h1 {
    font-size: 28px; }

  header ul li {
    font-size: 1em;
    height: 1em; }

  .about {
    padding-top: 230px; } }
@media all and (max-width: 350px) {
  h1 {
    font-size: 18px; }

  .about {
    padding-top: 200px; } }

/*# sourceMappingURL=style.css.map */
